{% extends "base_generic.html" %}

{% block content %}
  <h1>Detalhe da ação:</h1>
  <form action="/alpha/acaodono/criar/" method="post" target="dummyframe"></form>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <canvas id="line-chart" width="400"></canvas>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">{{ acao.name }}</h2>
          {% if user.is_authenticated %}            
            <form action="{% url 'acaodono-criar'%}" method="post">
              {% csrf_token %}
              <input type="hidden" name="id_acao" value="{{ acao.id }}">
              <input type="hidden" name="id_price" value="{{ acao.last_price }}">
              <input type="submit" value="Comprar" class="btn btn-success">
            </form>
          {% endif %}
          <p class="card-text simbolo">{{ acao.symbol }}</p>
          <p class="card-text valor">R$ {{ acao.last_price }}</p>
          <h3>Histórico de preço:</h3>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Preço (R$)</th>
                  <th scope="col">Data</th>
                </tr>
              </thead>
              <tbody>
                <script>
                  let value = []
                  let priceList = []
                  let datePriceList = []
                </script>
                {% for item in acao.acaohistorico_set.all %}
                  <script>
                    priceList.push("{{item.price}}")
                    datePriceList.push("{{item.date_price}}")
                  </script>
                  <tr>
                    <td>{{item.price}}</td>
                    <td>{{item.date_price}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script>
    let listTest = []

    let teste = [1500,1600,1700,1750,1800,1850,1900,1950,1999]
    teste.push(2050)

    priceList.forEach((item,index) => {
      listTest.push(index + 1)
    })

    new Chart(document.getElementById("line-chart"), {
      type: 'line',
      data: {
        labels: listTest,
        datasets: [{ 
            data: priceList,
            label: "Preços",
            borderColor: "#000000",
            fill: false
          }
        ]
      },
      options: {
        title: {
          display: false,
          text: ''
        }
      }
    });
  </script>
{% endblock %}