{% extends "base_generic.html" %}

{% block content %}
  <h1>Lista de ações Inoa</h1>
  <p>Aqui estão todas as ações cadastradas no nosso sistema. Se você estiver logado poderá clicar na opção comprar, com a ação adicionada ao seu portifólio, você será avisado o melhor momento para vendê-la</p>

  {% if acao_list %}
    <iframe name="dummyframe" id="dummyframe" style="display: none"></iframe>
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">Nome da empresa</th>
          <th scope="col">Símbolo</th>
          <th scope="col">Preço Atual (R$)</th>
        </tr>
      </thead>
      <tbody>
        {% for acao in acao_list %}
        <tr>
          <td class="cianame"><a href="{{ acao.get_absolute_url }}">{{ acao.name }}</a></td>
          <td>{{ acao.symbol }}</td>
          <td>{{ acao.last_price }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  {% else %}
    <p>Não nenhuma ação para ser listada</p>
  {% endif %}   
{% endblock %}