{% extends "base_generic.html" %}

{% block content %}
  <h1>Lista de ações que estão na carteira de <span class="username">{{user.get_username}}</span></h1>
  <p>Aqui estão todas as ações que você adicionou a sua carteira</p>

  {% if acaodono_list %}
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">Nome da empresa</th>
          <th scope="col">Símbolo</th>
          <th scope="col">Preço Atual (R$)</th>
          <th scope="col">Vender ação</th>
        </tr>
      </thead>
      <tbody>
        {% for dono in acaodono_list %}
          <tr>
            <td class="cianame"><a href="{{ dono.acao.get_absolute_url }}">{{ dono.acao.name }}</a></td>
            <td>{{ dono.acao.symbol }}</td>
            <td>{{ dono.acao.last_price }}</td>
            <td>
              <form action="{% url 'acaodono-delete'%}" method="post" >
                {% csrf_token %}
                <input type="hidden" name="id_acaodono" value="{{ dono.id }}">
                <input type="submit" value="Vender" class="btn btn-danger">
              </form>
            </td>
          </tr>   
        {% endfor %}
      </tbody>
    </table>  
  {% else %}
    <p>Não nenhuma ação para ser listada</p>
  {% endif %}   
{% endblock %}