{% extends "base_generic.html" %}

{% block content %}
    {% if validlink %}
        <p>Por favor digite sua nova senha.</p>
        <form action="" method="post">
            {% csrf_token %}

            {{ form.new_password1.errors }}
            <label for="id_new_password1">Nova senha:</label>

            {{ form.new_password1 }}
            <label for="id_new_password2">Confirmação senha:</label>

            {{ form.new_password2.errors }}

            {{ form.new_password2 }}

            <input type="submit" value="Alterar minha senha" class="btn btn-dark">
        </form>
    {% else %}
        <h1>O reset da senha falhou</h1>
        <p>O link para resetar a senha é inválido, possivelmente já foi usado. Por favor solicite um novo reset de senha.</p>
    {% endif %}
{% endblock %}